/**通用样式**/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,button,input,textarea,th,td{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
	font-family: '微软雅黑',Arial, Helvetica, sans-serif, Monstserrat-ExtraLight;
	-webkit-font-smoothing: antialiased;
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
/*For IE 6-7 only*/
.clearfix {
	*zoom: 1;
}
/**自定义样式**/
/*header*/
header {
	background: url(../images/bg1.png);
	width: 100%;
	height: 1000px;
	position: relative;
}
header .bg-shadow {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.6);
}
header .head-content {
	position: absolute;
	top: 25%;
	left: 25%;
	right: 24%;
}
header .head-content .title {
	height: 48px;
	line-height: 48px;
	font-size: 62px;
	font-family: Montserrat-ExtraLight;
	color: #ffffff;
	text-align: center;
}
header .head-content .text {
	width: 766px;
	height: 96px;
    line-height: 32px;
    font-family: Monstserrat-ExtraLight;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    margin-top: 86px;
    padding: 0 103px;
}
header .head-content .account {
	width: 970px;
	height: 250px;
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: 2px;
	margin-top: 104px;
}
header .head-content .account .create-account {
	height: 15px;
	font-size: 16px;
	font-family: Montserrat-Light;
	color: #ffffff;
	line-height: 15px;
	text-align: center;
	padding-top: 60px;
}
header .head-content .account .p-account {
	height: 10px;
	line-height: 10px;
	text-align: center;
	font-size: 12px;
	font-family: Montserrat-Light;
	color: #ffffff;
	padding-top: 19px;
}
header .head-content .account .sign-box {
	margin: 45px 90px;  
}
header .head-content .account .sign-box .mail {
	width: 270px;
	height: 50px;
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: 2px;
	background: rgba(255,255,255,0);
	color: #ffffff;
	padding-left: 22px;
}
header .head-content .account .sign-box .password {
	width: 270px;
	height: 50px;
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: 2px;
	background: rgba(255,255,255,0);
	color: #ffffff;
	padding-left: 22px;
	margin-left: 30px;
}
header .head-content .account .sign-box .sign-up {
	width: 125px;
	height: 50px;
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: 2px;
	color: #000000;
	margin-left: 30px;
}
/*section-boatloads*/
section.boatloads {
	background: rgba(255,255,255,1);
	height: 710px;
	width: 100%;
}
.boatloads .title {
	margin-top: 89px;
	height: 11px;
	line-height: 11px;
	text-align: center;
	font-size: 14px;
	font-family: Montserrat-Light;
	color: #000000;
}
.boatloads .text {
    padding-top: 39px;
    margin: 0 auto;
    width: 657px;
	height: 104px;
	line-height: 52px;
	text-align: center;
	font-size: 42px;
	font-family: Montserrat-Light;
	color: #141414;
	font-weight: 300;
}
.boatloads .landing-box {
	margin: 0px auto;
	padding: 85px 276px 138px 276px;
}
.boatloads .landing-box .icon-box {
	float: left;
	width: 435px;
	padding-right: 220px;
	padding-bottom: 80px;
}
.boatloads .landing-box .icon-box .icon-title {
	font-size: 20px;
	color: #000000;
	line-height: 32px;
	background: url(../images/Iphone.png) no-repeat;
	padding-left: 50px;
}
.boatloads .landing-box .icon-box p {
	margin-top: 25px;
	font-size: 16px;
	line-height: 26px;
	color: #666666;
	padding-left: 50px;
}
.boatloads .landing-box .icon-box .icon-title.moblie {
    background: url(../images/Iphone.png) no-repeat;
}
.boatloads .landing-box .icon-box .icon-title.accessibility {
    background: url(../images/Check.png) no-repeat;
}
.boatloads .landing-box .icon-box .icon-title.fluid {
    background: url(../images/Pencil.png) no-repeat;
}
.boatloads .landing-box .icon-box .icon-title.customization {
    background: url(../images/Settings.png) no-repeat;
}
/*section-policies*/
section.policies {
	background: url(../images/bg2.png);
	width: 100%;
	height: 798px;
	position: relative;
}
section.policies .bg-shadow {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.6);
}
section.policies .policies-box {
	position: absolute;
	width: 100%;
}
section.policies .policies-left {
	float:left;
	margin-left: 316px;
}
section.policies .policies-left .title {
	width: 410px;
	height:175px;
	font-size: 42px;
	font-family: Montserrat-ExtraLight;
	color: #ffffff;
	padding-top: 183px;
}
section.policies .policies-left .text {
	width: 366px;
	height:175px;
	font-size: 18px;
	font-family: Montserrat-ExtraLight;
	color: #ffffff;
	word-wrap: break-word;
	padding-top: 47px;
	font-weight: 300;
}
section.policies .policies-left .form-button button{
    width: 240px;
    height: 60px;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 2px;
    margin-right: 30px;
}
section.policies .policies-left .form-button button.check {
    color: #141414;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}
section.policies .policies-left .form-button button.try {
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    background: rgba(255,255,255,0);
}
section.policies .policies-right {
	float:right;
	margin-top: 103px;
}
section.policies .policies-right .policies-img {
	background: url(../images/ipad.png);
	width: 646px;
	height: 602px;
}
/*section-products*/
section.products {
	background: rgba(255,255,255,1);
	height: 480px;
	width: 100%;
}
section.products .title {
	height:41px;
	line-height: 41px;
	text-align: center;
	font-size: 42px;
	color: #141414;
	font-weight: 300;
	margin: 99px auto 85px ;
}
section.products .products-box {
	margin: 0 auto;
	width: 970px;
	height: 355px;
}
section.products .products-box .box-line {
	float: left;
	width: 265px;
	margin-right: 86px;
}
section.products .products-box .box-line:nth-of-type(3) {
	margin-right: 0;
}
section.products .products-box .box-line .name {
	width: 128px;
	height: 45px;
	background: url(../images/singleten.png) no-repeat;
	margin: 0 auto;
    padding-bottom: 38px;
}
section.products .products-box .box-line .singleten {	
	background: url(../images/singleten.png) no-repeat;
}
section.products .products-box .box-line .hero {
	background: url(../images/hero.png) no-repeat;
}
section.products .products-box .box-line .pontland {
	background: url(../images/pontland.png) no-repeat;
}
section.products .products-box .box-line .text {
	color: #666666;
	font-size: 16px;
    line-height: 26px;
    word-wrap: break-word;
}
/*section-business*/
section.business .business-content {
	width: 970px;
	margin: 0 auto;
}
section.business .business-content .business-line {
	margin-bottom: 115px;
	height: 350px;
}
section.business .business-content .business-line .img-left{
    float: left;
    margin-right: 94px;
}
section.business .business-content .business-line .title {
	font-size: 20px;
	color: #141414;
	line-height: 32px;
	padding-top: 82px;
	font-weight: 400;
}
section.business .business-content .business-line .text {
	font-size: 16px;
	color: #141414;
	line-height: 28px;
	font-weight: 300;
	padding-top: 35px;
}
section.business .business-content .business-line .img-right {
    float: right;
    margin-left: 94px;
}
section.business .business-content .business-line .line-box {
	float: left;
	width: 300px;
}
/*section-crew*/
section.crew .crew-content {
	width: 970px;
	margin: 0 auto;
}
section.crew .crew-content .title {
	color: #141414;
	font-size: 42px;
	line-height: 52px;
	text-align: center;
	font-weight: 300;
}
section.crew .crew-content .text {
    font-size: 18px;
    line-height: 28px;
    color: #666666;
    margin-top: 35px;
    margin-bottom: 60px;
    text-align: center;
}
section.crew .crew-content .people-img img {
	float: left;
	margin-right: 25px;
	margin-bottom: 50px;
}
section.crew .crew-content .people-img img:nth-of-type(2),
section.crew .crew-content .people-img img:nth-of-type(4) {
    margin-right: 0;
}
/*section-crew*/
section.contact .contact-content {
	width: 970px;
	height: 588px;
	margin: 70px auto;
}
section.contact .contact-content form.write-us {
   float: left;
   width: 370px;
   height:470px;
   border: 1px solid rgba(20,20,20,0.1);
   border-radius: 10px;
   padding: 50px 50px 66px 50px;
   font-family: Montserrat-Light;
}
section.contact .contact-content form.write-us .title {
	font-size: 16px;
	text-align: center;
	line-height: 32px;
	color: #141414;
	font-weight: 500;
	font-family: Montserrat-Light;
	letter-spacing: 2px;
	padding-bottom: 47px;
}
section.contact .contact-content form.write-us .write-input {
	width: 348px;
	height: 50px;
	border: 1px solid rgba(20,20,20,0.2);
    border-radius: 2px;
    padding-left: 22px;
    margin-bottom: 30px;
    color: #141414;
    font-size: 14px;
}
section.contact .contact-content form.write-us .write-textarea {
	width: 348px;
	height: 124px;
	border: 1px solid rgba(20,20,20,0.2);
    border-radius: 2px;
    padding-left: 22px;
    padding-top: 20px;
    margin-bottom: 30px;
    color: #141414;
    font-size: 14px;
}
section.contact .contact-content form.write-us .send {
	width: 370px;
	height: 50px;
	background: #141414;
	border: 2px solid #141414;
	color: #ffffff;
	border-radius: 2px;
	text-align: center;
}
section.contact .contact-content .contact-us {
	float: left;
	width: 325px;
    height:432px;
    padding: 88px 40px 66px 50px;
    margin-left: 80px;
}
section.contact .contact-content .contact-us .title {
	font-size: 42px;
	height: 52px;
	line-height: 52px;
	color: #141414;
	text-align: left;
}
section.contact .contact-content .contact-us .text {
	font-size: 16px;
	line-height: 26px;
	height: 78px;
	color: #666666;
	margin-top: 39px;
	margin-bottom: 70px;
}
section.contact .contact-content .contact-us .contact-list .list-line {
	font-size: 16px;
	line-height: 32px;
	color: #141414;
	margin-bottom: 37px;
	padding-left: 38px;
}
section.contact .contact-content .contact-us .contact-list .site {
	background: url(../images/site.png) no-repeat;
}
section.contact .contact-content .contact-us .contact-list .telphone {
	background: url(../images/telphone.png) no-repeat;
}
section.contact .contact-content .contact-us .contact-list .mail {
	background: url(../images/mail.png) no-repeat;
}
/*footer*/
footer {
	height: 220px;
	background: #000000;
	padding: 90px 227px 124px 316px;
}
footer .line {
	float: left;
	margin-right: 200px;
}
footer .line:nth-of-type(4) {
	margin-right: 0;
}
footer .line .title {
	color: #ffffff;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: 2px;
	font-weight: 400;
	margin-bottom: 36px;
}
footer .line ul.list li {
    list-style: none;
    color: #333333;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 25px;
    letter-spacing: 1px;
}
footer .line p {
	font-size: 18px;
	color: #666666;
	letter-spacing: 1px;
	line-height: 28px;
	height:56px;
	width: 310px;
}
footer .line .icon-list li.icon{
    list-style: none;
    display:inline-block;
    width: 30px;
    height: 28px;
    margin-right: 12px;
    margin-top: 45px;
}
footer .line .icon-list .twitter {
    background: url(../images/twitter.png) no-repeat;
}
footer .line .icon-list .facebook {
    background: url(../images/facebook.png) no-repeat;
}
footer .line .icon-list .google {
    background: url(../images/google.png) no-repeat;
}
footer .line .icon-list .linkedln {
    background: url(../images/linkedln.png) no-repeat;
}
footer .line .icon-list .tumber {
    background: url(../images/tumber.png) no-repeat;
}
footer .line .icon-list .pinterest {
    background: url(../images/pinterest.png) no-repeat;
}
